<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: blueviolet;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/logo.png" style="width: 20%">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >

        <li class="nav-item" >
          <a style="color: white; font-size: 20px;font-weight: bold;"
             class="nav-link "
             routerLink="/"
             [routerLinkActiveOptions]="{exact:true}"
          routerLinkActive="active">HOME</a>
        </li>
        <li class="nav-item" >
          <a style="color: white; font-size: 20px;font-weight: bold;"
             class="nav-link "
             routerLink="/tasks"
             [routerLinkActiveOptions]="{exact:true}"
          routerLinkActive="active">TAREAS</a>
        </li>
        <li class="nav-item" >
          <a style="color: white; font-size: 20px;font-weight: bold;"
             class="nav-link "
             routerLink="/add"
             routerLinkActive="active">AGREGAR TAREA</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
