<div class=" pt-1 pb-5 pbackground " style="min-height: 80vh;">
    <p style="font-size: 3rem;color: white;" class=" text-center mt-0 fw-bold">Agregar Tarea</p>
  <div class="container align-items-center justify-content-center d-flex">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              formControlName="username"
            >
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Descripcion</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
            >
          </div>



          <button type="submit"
                  class="btn btn-success m-2"
                  [disabled]=" !loginForm.valid"
          >Login
          </button>
        </form>
      </div>

    </div>
    <div>

    </div>
  </div>
</div>
