<div class=" pt-5 pb-5 pbackground "  style="min-height: 80vh;">
<div class="container">
  <div class="text-center mt-5">

  </div>
  <div class="text-center mt-5">
    <p style="font-weight: bolder; font-size: large; background: #76a17f;color:white;">Para comenzar da click en la seccion de Tareas una ves ahi aparecera la lista détodas los tareas registradas o puedes darle click al boton de aqui abajo para agregar alguna tarea.</p>
  </div>
  <div class="d-flex text-center align-items-center justify-content-center">
    <a routerLink="/add" style="background-color:#76a17f " class="btn  btn-lg text-light fw-bold">Agregar Tarea</a>
  </div>
  <div class="text-center mt-5">
    <img src="../../assets/img/logot.png" style="width: 20%">
  </div>
</div>

</div>

